suite_namespace: frontend\tests\acceptance
actor: AcceptanceTester
modules:
    enabled:
        - PhPDriver:
            url: http://front.test
            browser: firefox

        - Yii2:
            part: init
